.social, #hamburger {
  width: 12vw;
}

.template {
  display: none;
}

.social {
  display: none;
}

/* Computer */
@media all and (min-width: 800px) {
  .social, #hamburger {
    width: 4vw;
  }
  #hamburger {
    display: none;
  }
}
