.social {
  width: 12vw;
}

nav {
  display: none;
}


/* Tablet */
@media all and (min-width: 600px) {
  .social {
    width: 8vw;
  }
}

/* Computer */
@media all and (min-width: 800px) {
  .social {
    width: 4vw;
  }
  nav {
    display: block;
  }
}
